{% extends "core/base.html" %}

{% block title %}Bienvenida Usuario{% endblock title %}

{% block content %}
{% load static %}
<div class="container mt-1 mb-1 align_self">    
    <div class="d-flex justify-content-center">
        <img src="{% static 'core/img/Icono_usuario.svg' %}" alt="" id="img_user">
    </div>
    <div class="d-flex justify-content-center">
        <h1 style="text-align: center;"> Usuario Creado Correctamente</h1>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'home' %}" class="btn btn-success" role="button" aria-pressed="true" id="boton">Volver al Inicio </a>
        <a href="{% url 'form_reg_usuario' %}" class="btn btn-success" role="button" aria-pressed="true" id="boton">Registrar otro Usuario</a>
    </div>
</div>



{% endblock content %}